<html>
  <head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
      <title>Login</title>
  </head>


<body id="LoginForm">

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
        <center>
           <h1>Login Form</h1>
        </center>


</nav>
<div class="container">
<h1 class="form-heading"></h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <p>Please enter your email and password</p>
   </div>
    <form id="Login" method="get">
        <div class="form-group">


            <input type="text" class="form-control" id="inputEmail" placeholder="Login" name="username">

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">

        </div>
        <div class="forgot">

</div>
     <button type="submit" class="btn btn-info btn-lg" name="login" value="login">Login</button>
        <button type="submit" class="btn btn-info btn-lg" name="login" value="inscription">Inscription</button>

    </form>

    </div>
</div></div></div>


</body>
</html>
